@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --vertical-space: 1rem;
    --horizontal-space: 1rem;
}

body {
    display: grid;
    grid-template-areas: "navBtn head"
                        "nav main"
                        "foot foot";

    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto ;
    font-family: "Montserrat";
    background-image: repeating-linear-gradient(0deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(45deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(45deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, #0b2545,#134074);
}

h1, h2, h3, h4 {
    line-height: 1.2;
    font-family: "Montserrat";
    color: #eef4ed;
}

p, span, dt, dd{
    color: #eef4ed;
}

li {
    margin-top: 5px;
    color: #eef4ed;
}

.linkBox div{
    justify-self: center;
    text-align: center;
    color: #eef4ed;
    width: 8em;
    padding-left: 1em;
}

.linkButton, #resumeDownload {
    background-color: #8da9c4;
    width: 8em;
    font-size: 1.2em;
}

#navMenuButton {
    grid-area: navBtn;
    margin: 1em 0 0 1em;
    background-color: #8da9c4;
    width: 8em;
    height: 2em;
    font-size: 1.2em;
}

nav{
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
    justify-content:start;
}

nav a{
    text-decoration-color: #13315c;
    color: #13315c;
    font-style: bold;
}

.row {
    display: flex;
}

.leftcol{
    padding-right: 10px;
}

.courses{
    margin-left: 2em;
}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

p{
    max-width: 50em;
}

#about img { 
    height: 13em;
    justify-content: center;
}

#resume div{
    color: #eef4ed;
}

body > header {
    grid-area: head;
}

body > nav {
    grid-area: nav;
}

body > nav ul {
    list-style-type: none;
    padding: 0;
}

body > main {
    grid-area: main;
}

body > footer {
    grid-area: foot;
    justify-content: center;
    color:#eef4ed;
}

header,footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1, footer h1, header h3 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

body#portfolio ul#portfolioItems li {
    flex-basis: 48%;
    padding-right: 2%;
}

#portfolio li h2 a{
    color: #eef4ed;
}

#portfolio li h2 a:hover{
    color: cyan;
}

li a:hover{
    color: cyan;
}

#project main{
    color: #eef4ed;
}

@media screen and (max-width: 500px) {
    body{
        font-size: small;
    }

    #about img {
        height: 10em;
    }

    body#portfolio ul#portfolioItems li {
        flex-basis: 45%;
        padding-right: 2%;
    }
}