@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --vertical-space: 2rem;
    --horizontal-space: 3rem;

    --light-color:;
    --body-color:;
    --heading-color:;
    contrast-color:;
}

body {
    display: grid;
    grid-template-areas: "head head"
                        "nav nav"
                        "main main"
                        "foot foot";

    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr auto ;
    font-family: "Montserrat";
    background-image: repeating-linear-gradient(0deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(45deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(90deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(45deg, hsla(209,48%,96%,0.05) 0px, hsla(209,48%,96%,0.05) 1px,transparent 1px, transparent 11px,hsla(209,48%,96%,0.05) 11px, hsla(209,48%,96%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(90deg, rgb(112,196,243),rgb(13,228,162));
}

h1, h2, h3 {
    line-height: 1.2;
    font-family: "Crete Round";
}

nav a{
    text-decoration-color: rgb(190, 23, 140);
    color: purple;
}

nav a:hover{
    color: rgb(226, 241, 9);
}

@media screen and (min-width: 23em) {
    body {
        grid-template-areas:"head head"
                            "nav main"
                            "foot foot";
        grid-template-rows: auto 1fr auto ;
    }
}

body > * {
    padding-left: var(--horizontal-space);
    padding-right: var(--horizontal-space);
}

p{
    max-width: 50em;
}

#about img { 
    height: 15em;
}

body > header {
    grid-area: head;
}

body > nav {
    grid-area: nav;
}

body > nav ul {
    list-style-type: none;
    padding: 0;
}

body > main {
    grid-area: main;
}

body > footer {
    grid-area: foot;
}

header,footer {
    padding-top: var(--vertical-space);
    padding-bottom: var(--vertical-space);
}

header h1, footer h1 {
    margin: 0;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
}

body#portfolio ul#portfolioItems li {
    flex-basis: 48%;
    padding-right: 2%;
}

body#portfolio ul#portfolioItems li img {
    max-width: 100%;
}